body{
    background-color: #8da2a8;
    padding: 20px;
    margin: 0px;
}

h1{
    color: #000000;
    text-align: center;

}

h2{
    text-align: center;
}

nav{
    position: sticky;
    top: 0;
    background-color: #1f262a;
    padding: 10px 0;;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #e2e2e8;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover{
    background-color: #404371;
    color: #7c92a9;
}

#student-profile{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#student-profile button{
    background-color: #41436b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#student-profile button:hover{
    background-color: #797c9d;
}


#student-profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.Fet{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature{
    background-color: #9adff3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

#features p{
    text-align: center;
}

#gallery{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;

}

#gallery h2{
    text-align: center;
}

.gallery-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-img img{
    height: 100px;
    width: 100px;
    border-radius: 0 20px 0 20px;
    object-fit: cover;
}


#gallery img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #35494f;
    border-radius: 20px;
    color: #2eacd6;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

footer h3{
    color: #b0ccd0;
    margin-bottom: 10px;
}

footer ul{
    list-style: none;
    padding: 0;
}   

footer ul li{
    margin-bottom: 5px;
}

footer ul li a{
    text-decoration: none;
    color: #3ecae2;
    transition: color 0.3s ease;
}

#courses{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

#courses h2{
    margin-bottom: 10px;
}
#courses ul{
    list-style: none;
    padding: 0;
}

#courses ul li{
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#courses ul li:hover{
    background-color: #42606f;
    cursor: pointer;
}

#about{
    background-color: #658d98;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(47, 37, 37, 0.1);
    width: 600px;
    margin:20px auto;
    text-align: center;
}

#terms-policy p{
    width:250px;
}