* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #050505;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


/* =========================
   NAVBAR
========================= */

header {
    padding: 28px 6%;
}

nav {
    padding: 28px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background: #050505;
    z-index: 100;
   
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}


/* =========================
   HERO
========================= */

.hero {
    display: flex;
    min-height: 50px;

    padding: 70px;
    text-align: center;
    justify-content: center;
}

.hero-content h1 {
    max-width: 600px;

    font-size: clamp(40px, 8vw, 80px);
    line-height: 0.82;
    text-align: center;

    letter-spacing: -5px;
    font-weight: 900;
    color: #777777;
}


/* =========================
   SECTIONS
========================= */

.project-section {
    padding: 20px 6%;
}

.section-heading {
    margin-bottom: 40px;
}

.section-heading p {
    margin-bottom: 12px;

    color: #666666;

    font-size: 12px;
    letter-spacing: 2px;
}

.section-heading h2 {
    font-size: clamp(20px, 6vw, 40px);

    letter-spacing: -4px;
}


/* =========================
   PROJECT GRID
========================= */

.project-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.project-card {
    min-height: 20px;

    padding: 25px;

    background: #151515;

    border-radius: 18px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-decoration: none;
    color: white;

    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-6px);
    background: #202020;
}

.project-number {
    color: #555555;
    font-size: 13px;
}

.project-card-content h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.project-card-content p {
    color: #777777;
    font-size: 13px;
}

.arrow {
    position: absolute;

    top: 25px;
    right: 25px;

    font-size: 20px;
}


/* =========================
   FOOTER
========================= */

footer {
    padding: 40px 6%;

    border-top: 1px solid #222222;

    display: flex;
    justify-content: space-between;
}

footer p {
    color: #555555;
}

footer a {
    color: white;
    text-decoration: none;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 800px) {

    nav ul {
        gap: 15px;
    }

    .hero {
        grid-template-columns: 1fr;
        padding-top: 40px;
    }

    .hero-content h1 {
        letter-spacing: -4px;
    }

    .featured-card {
        min-height: 350px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

}


@media (max-width: 500px) {

    header {
        padding: 22px 5%;
    }

    nav ul {
        display: none;
    }

    .hero {
        padding: 50px 5%;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .project-section {
        padding: 70px 5%;
    }

    .section-heading h2 {
        letter-spacing: -2px;
    }

}