* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 10px 30px;
    background-color: rgb(184, 184, 184);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

#skip-to {
    text-decoration: none;
    color: rgb(102, 111, 111);
    padding: 10px 15px;
    margin: 15px;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

h1 {
    text-align: center;
    font-size: 28px;
}

h2 {
    padding: 12px 0;
}

p {
    padding: 12px 0;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

#home {
    background-color: rgb(209, 164, 109);
    padding: 30px;
}

#home h1 {
    padding: 12px;
}

#home time {
    display: block;
    margin-top: 5px;
}

#home img {
    width: 530px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

section {
    background-color: bisque;
    padding: 30px;
}

aside {
    padding: 30px;
}

aside ul li {
    padding: 8px 0;
}

footer {
    background-color: rgb(79, 79, 79);
    color: white;
    text-align: center;
    padding: 25px 30px;
}

footer p {
    padding: 5px 0;
}